<br/>
<div *ngIf="character">

  
  <p class="form-control"><label>Person ID:</label> {{character.PersonId}}</p>
  <p class="form-control"><label>First Name: </label> {{character.FirstName}}</p>
  <p class="form-control"><label>Last Name:</label> {{character.LastName}}</p>
  <p class="form-control"><label>Occupation: </label>{{character.Occupation}}</p>
  <p class="form-control"><label>Gender:</label> {{character.Gender}}</p>
  <p class="form-control"><label>Picture:</label> <img src="{{character.Picture}}" alt="{{character.FirstName}} {{character.LastName}}" /></p>
  <div>
    <p><label>First Name: </label><input class="form-control"[(ngModel)]="character.FirstName" placeholder="FirstName"></p>
    <p><label>Last Name: </label><input class="form-control"[(ngModel)]="character.LastName" placeholder="LastName"></p>
    <p><label>Occupation: </label><input class="form-control"[(ngModel)]="character.Occupation" placeholder="Occupation"></p>
    <p><label>Gender: </label><input class="form-control"[(ngModel)]="character.Gender" placeholder="M or F"></p>
    <p><label>Picture: </label><input class="form-control"[(ngModel)]="character.Picture" placeholder="Picture"></p>
  </div>
  <button (click)="goBack()" class="btn btn-primary">Back</button>
</div>
